.email-row
  height 50px
  cursor pointer

  span 
    display flex
    justify-content center
    align-items center
  
  .action, .date
    flex .1

  .subject
    flex .5
    justify-content flex-start
  
  .meta
    flex .3
    justify-content flex-start