.sidebar-container

  .compose
    flex .1
    
    .button
      width 50%
      height 60%
      cursor pointer

  .options
    flex .9

    span 
      width 80%
      cursor pointer

      &.active
        background-color #2563EB

      &:hover
        outline 1px solid #2563EB